.main-chat
  .main-chat__group-info
    .main-chat__group-info__box
      .main-chat__group-info__box__group
        = @group.name
      .main-chat__group-info__box__name
        Member :
        - @group.users.each do |user|
          = user.name
    %div.main-chat__group-info__edit
      %p.main-chat__group-info__content 
        =link_to edit_group_path(@group) ,class:"main-chat__group-info__content" do  
          Edit
  .main-chat__message-list
    = render @messages
  .main-chat__message-form
    .form
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'