.sidebar
  .sidebar__username
    .sidebar__username__topitems
      %p.sidebar__username__topitems__itemsname
        = current_user.name
      %ul.sidebar__username__topitems__icons
        %li.sidebar__username__topitems__username
          = link_to new_group_path do
            = icon('fa','edit')
        %li.sidebar__username__topitems__group
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')             
  .sidebar__grouplist
    - current_user.groups.each do |group|
      .sidebar__grouplist__group
        = link_to group_messages_path(group) do
          %p.group__name
            = group.name
          %p.group__message
            = group.show_last_message
            